In [1]:
import pandas as pd

# Read the dataset
df = pd.read_csv('BA_reviews.csv')

In [2]:
df

      Unnamed: 0                                            reviews
0              0  Not Verified | Only the second time flying BA ...
1              1  ✅ Trip Verified | I wasn't going to bother rev...
2              2  ✅ Trip Verified |  I booked business class tic...
3              3  ✅ Trip Verified |  I will never travel with Br...
4              4  ✅ Trip Verified |  I am already in Portugal so...
...          ...                                                ...
3539        3539  This was a bmi Regional operated flight on a R...
3540        3540  LHR to HAM. Purser addresses all club passenge...
3541        3541  My son who had worked for British Airways urge...
3542        3542  London City-New York JFK via Shannon on A318 b...
3543        3543  SIN-LHR BA12 B747-436 First Class. Old aircraf...

[3544 rows x 2 columns]

In [4]:
# Remove duplicate observations
df = df.drop_duplicates()

# Fix structural errors
df['reviews'] = df['reviews'].str.replace('  ', ' ')
df['reviews'] = df['reviews'].str.lower()

In [6]:
# Handle missing data
df['reviews'] = df['reviews'].fillna('')

# Validate and QA
df.info()

# Save the cleaned dataset
df.to_csv('cleaned_reviews.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3544 entries, 0 to 3543
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3544 non-null   int64
 1   reviews     3544 non-null   object
dtypes: int64(1), object(1)
memory usage: 83.1+ KB